<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Chompa Alpaca</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <h1>Carrito de Compras</h1>
            <form method="post" action="">
                <p>
                    <SELECT NAME="chompas" SIZE=1 > 
                        <OPTION VALUE="1">Office</OPTION>
                        <OPTION VALUE="2">Mid Season</OPTION>
                        <OPTION VALUE="3">Holmes</OPTION>
                        <OPTION VALUE="4">Gigardo</OPTION>
                        <OPTION VALUE="5">Anton</OPTION>
                        <OPTION VALUE="6">L'Blanc</OPTION>
                    </SELECT>
                    <input type="text" name="cantidad" maxlength="3" size="3" />
                </p>
                <p><input type="submit" value="Seleccionar" name="seleccionar"  /></p>
                
                
                 <p>
                Usuario: <input type="text" name="usuario" size="10"/>
            </p>
            <p>
                Contraseña: <input type="password" name="contrasenha" size="4" maxlength="5"/>
            </p>
            <p>
                <input type="submit" name="iniciar" value="Iniciar Sesión" />
            </p>
            </form>
        </div>
    </body>
</html>